h1, .h1,
h2, .h2,
h3, .h3 {
  font-weight: $font-weight-bold;
  color: var(--color-midnight-light);
}

h1, .h1 {
  font-size: $font-size-26;
  letter-spacing: 0.4pt;
}

h2, .h2 {
  font-size: $font-size-18;
  letter-spacing: 0.2pt;
}

h2 {
  margin-bottom: $spacing-sm;
}

h3, .h3 {
  font-size: $font-size-16;
  letter-spacing: 0.2pt;
}

h3 {
  margin: $spacing-lg 0;
}

h4, .h4 {
  font-size: $font-size-14;
  letter-spacing: 0.2pt;
}

h5, .h5 {
  font-size: $font-size-12;
  letter-spacing: 0.2pt;
  text-transform: uppercase;
}
