input[type="text"]::-webkit-input-placeholder {
  /* WebKit browsers */
  padding-left: 0;
}

input[type="text"]::-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  padding-left: 0;
}

input[type="text"]::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  padding-left: 0;
}

input[type="text"]::-ms-input-placeholder {
  /* Internet Explorer 10+ */
  padding-left: 0;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

input[type="text"],
input[type="date"],
input[type="month"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="datetime-local"],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.6rem $spacing-sm;
  border: 1px solid var(--color-grey);
  border-radius: $border-radius-md;
  box-sizing: border-box;
  font-size: $font-size-14;
  font-weight: $font-weight-regular;
  text-align: left;
  color: var(--color-midnight-light);
  resize: none;
  transition: all $animation-duration-fast;

  &:focus-within {
    border: 1px solid var(--color-green);
    box-shadow: var(--color-green) 0 0 0 1px;
    outline: none;
    resize: none;
  }

  &.input--small {
    padding: $spacing-xs $spacing-xs $spacing-xs $spacing-sm;
    font-size: $font-size-12;
  }
}

input[type="color"] {
  width: 2.65rem;
  height: 2.5525rem;

  &.input--small {
    width: 2.143rem;
    height: 2.143rem;
  }
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="number"]::placeholder,
input[type="password"]::placeholder,
input[type="tel"]::placeholder,
textarea::placeholder {
  color: var(--color-grey-dark);
}

input[type="date"],
input[type="datetime-local"] {
  line-height: 100%;
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  margin: 0;
  display: inline-flex;
  cursor: pointer;

  &:checked:after,
  &:not(:checked):after {
    font-size: 1.6rem;
    transition: color 50ms ease-in-out;
  }

  &:checked:after {
    font-family: $font-family-icon-outlined;
    color: var(--color-green);
    content: '\e837';
  }

  &:not(:checked):after {
    font-family: $font-family-icon;
    color: var(--color-midnight-light);
    content: '\e836';
  }

  &:disabled:checked:after,
  &:disabled:not(:checked):after {
    color: var(--color-grey);
    cursor: not-allowed;
  }

  & + label {
    cursor: pointer;
  }
}

.color-picker {
  display: flex;
  align-items: center;

  input[type=text] {
    border-radius: $border-radius-md 0 0 $border-radius-md;

    &:focus + input[type=color] {
      border: 1px solid var(--color-green);
      box-shadow: var(--color-green) 0 0 0 1px;
    }
  }

  input[type="color"] {
    margin: 0;
    padding: 0;
    border: 1px solid var(--color-grey);
    border-left: none !important;
    border-radius: 0 $border-radius-md $border-radius-md 0;
    box-sizing: content-box;
    cursor: pointer;


    &::-webkit-color-swatch-wrapper {
      padding: 0;
    }

    &::-webkit-color-swatch {
      border: none;
      border-radius: 0 $border-radius-md $border-radius-md 0;
      padding: 0;
    }

    &::-moz-color-swatch {
      border: none;
      border-radius: 0 $border-radius-md $border-radius-md 0;
      padding: 0;
    }
  }
}

input[type="checkbox"] {
  &.input-checkbox {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    margin: 0;
    cursor: pointer;
    display: inline-flex;

    &:checked:after,
    &:not(:checked):after {
      font-size: 1.6rem;
      transition: color 50ms ease-in-out;
    }

    &:checked:after {
      font-family: $font-family-icon-outlined;
      color: var(--color-green);
      content: '\e834';
    }

    &:not(:checked):after {
      font-family: $font-family-icon;
      color: var(--color-midnight-light);
      content: '\e835';
    }

    &:disabled:checked:after,
    &:disabled:not(:checked):after {
      color: var(--color-grey);
      cursor: not-allowed;
    }
  }

  &.input-toggle-switch {
    position: relative;
    width: 40px;
    min-width: 40px;
    height: 20px;
    appearance: none;
    background: var(--color-grey);
    outline: none;
    border-radius: $border-radius-xl;
    transition: 0.1s linear;
    cursor: pointer;

    &.disabled {
      cursor: default;
    }

    &::after {
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      height: 16px;
      width: 16px;
      border-radius: $border-radius-sm;
      background: var(--color-white);
      transition: all $animation-duration-fast;
    }

    &:checked {
      background: var(--color-green);

      &::after {
        transform: translate3d(calc(100% + 4px), 0, 0);
      }
    }
  }
}

.input-phone {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0.6rem $spacing-sm;
  border: 1px solid var(--color-grey);
  border-radius: $border-radius-md;

  input[type="tel"] {
    width: 100%;
    margin: 0;
    padding: 0 0 0 $spacing-xs;
    border: none;
    font-size: $font-size-14;
    font-weight: $font-weight-regular;
    text-align: left;
    color: var(--color-midnight-light);
  }

  &:focus-within {
    border: 1px solid var(--color-green);
    box-shadow: var(--color-green) 0 0 0 1px;
  }

  &.input--small {
    padding: $spacing-xs $spacing-sm;

    input[type="tel"] {
      font-size: $font-size-12;
    }
  }
}

.input-select {
  position: relative;
  background-color: var(--color-white);
  border-radius: $border-radius-md;

  &::before {
    content: "\e313";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: .75rem;
    font-family: $font-family-icon;
    font-size: $font-size-20;
    color: var(--color-midnight-light);
  }

  select {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    background-color: transparent;
    padding: .6rem 3rem .6rem 1rem;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
    border: 1px solid var(--color-grey);
    border-radius: $border-radius-md;
    box-sizing: border-box;
    font-size: $font-size-14;
    font-weight: $font-weight-regular;
    text-align: left;
    color: var(--color-midnight-light);
    resize: none;

    &:focus {
      border: 1px solid var(--color-green);
      outline: none;
      resize: none;
    }
  }

  &.input--small {
    &:before {
      right: $spacing-xs;
    }

    select {
      padding: $spacing-xs calc($spacing-md * 2) $spacing-xs $spacing-sm;
      font-size: $font-size-12;
    }
  }
}

/* SLIDER */
input[type="range"] {
  appearance: none;
  padding: 0;
  font: inherit;
  outline: none;
  color: var(--color-green);
  border-radius: var(--border-radius-xs);
  background-color: var(--color-grey);
  background-image: linear-gradient(var(--color-green), var(--color-green));
  background-size: 0 100%;
  background-repeat: no-repeat;
  box-sizing: border-box;
  transition: opacity 0.2s;
  cursor: pointer;
  height: 2px;
  width: 100%;

  &.reverse-range {
    background-color: var(--color-green);
    background-image: linear-gradient(var(--color-grey), var(--color-grey));

    &:disabled {
      background-color: var(--color-grey-dark);
      background-image: linear-gradient(var(--color-grey), var(--color-grey));
    }
  }

  &::-webkit-slider-thumb {
    appearance: none;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    background-color: var(--color-white);
    border: 2px solid var(--color-green);

    &:hover {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  /* FF*/
  &::-moz-range-thumb {
    appearance: none;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    background-color: var(--color-white);
    border: 2px solid var(--color-green);

    &:hover {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  &::-webkit-slider-runnable-track {
    appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }

  &:disabled {
    color: var(--color-grey-dark);
    background-color: var(--color-grey);
    background-image: linear-gradient(var(--color-grey-dark), var(--color-grey-dark));
    cursor: default;

    &::-webkit-slider-thumb {
      border-color: var(--color-grey-dark);

      &:hover {
        width: 1.3rem;
        height: 1.3rem;
      }
    }

    &::-moz-range-thumb {
      border-color: var(--color-grey-dark);

      &:hover {
        width: .9rem;
        height: .9rem;
      }
    }
  }
}

input:disabled {
  background-color: var(--color-grey-light);
}
