.sb-section-1-col-example,
.sb-section-content-example {
    height: 70vh;
    width: 90vw;
}

.sb-section-2-cols-example,
.sb-section-separator-example,
.sb-section-content-example {
    height: fit-content;
    width: 90vw;
}

.sb-section-2-cols-example,
.sb-section-separator-example,
.sb-section-3-cols-example {
    & h2 {
        color: var(--color-green);
    }
}

.sb-section-1-col-example,
.sb-section-2-cols-example,
.sb-section-3-cols-example,
.sb-section-separator-example,
.sb-section-content-example {
    & h1 {
        text-align: center;
        color: var(--color-midnight-light);
        margin: 2rem 0;
    }
}

.sb-section-content-example {
    & h2 {
        color: var(--color-midnight-light);
    }
}
