.actions-menu {
    display: inline-flex;
    align-items: center;
    position: relative;

    .actions-menu-btn {
        cursor: pointer;

        &:hover {
            i {
                color: var(--color-green);
            }
        }
    }

    .actions-menu-content {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 60;
        height: auto;
        background: var(--color-white);
        border: 1px solid var(--color-grey);
        box-shadow: 0 0 5px var(--color-grey);
        border-radius: $border-radius-sm;
        max-height: 20rem;
        overflow: auto;

        &-top-left {
            top: unset;
            bottom: 0;
            left: unset;
            right: 0;
        }

        ul li {
            display: block;
            position: relative;
            font-size: $font-size-14;
            color: var(--color-midnight);
            cursor: pointer;

            &.separator {
                border-top: 1px solid var(--color-grey);
            }

            &:hover {
                background-color: var(--color-grey);
            }

            span {
                display: block;
                padding:$spacing-xs $spacing-lg $spacing-xs $spacing-md;
                font-weight: $font-weight-regular;
            }

            a {
                text-decoration: none;
            }

            .critical {
                color: var(--color-red);
            }
        }
    }

    &.active {
        color: var(--color-green);

        .actions-menu-content {
            display: block;
            min-width: max-content;
        }
    }
}
