.alert {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: $border-radius-sm;
  padding: $spacing-xs $spacing-sm;
  font-weight: $font-weight-semi-bold;
  text-align: left;

  & > i {
    margin-right: $spacing-xs;
    font-size: $font-size-20;
  }

  &.danger {
    color: var(--color-danger-main);
    background-color: var(--color-danger-light);
  }

  &.info {
    color: var(--color-info-main);
    background-color: var(--color-info-light);
  }

  &.success {
    color: var(--color-success-main);
    background-color: var(--color-success-light);
  }

  &.warning {
    color: var(--color-warning-main);
    background-color: var(--color-warning-light);
  }

  &--full-width {
    width: 100%;
  }
}