.box {
  background-color: var(--color-white);
  color: var(--color-midnight-light);
  border: 1px solid var(--color-grey);

  &--shadow-black-m {
    border: none;
    box-shadow: $box-shadow-black-m;
  }

  &--shadow-black-l {
    border: none;
    box-shadow: $box-shadow-black-l;
  }

  &--clickable {
    cursor: pointer;

    &:hover {
      box-shadow: $box-shadow-green;
    }
  }
}