.bullet {
    display: block;
    height: 0.875rem;
    width: 0.875rem;
    border-radius: 50%;
    margin: 0 $spacing-xs;

    &--green {
        background-color: var(--color-lime);
    }

    &--orange {
        background-color: var(--color-orange);
    }

    &--red {
        background-color: var(--color-red);
    }

    &--grey {
        background-color: var(--color-grey-dark);
    }
}
