.content-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: $spacing-xl 0;

    p {
        font-size: $font-size-16;
        text-align: center;
    }

    svg {
        max-width: 100%;
    }
}
