.content-block {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $spacing-xs;
    flex-wrap: wrap;
    position: relative;

    &__element-right {
      display: flex;
      align-self: flex-start;
      justify-content: flex-end;
      flex: 1;
    }
  }

  &__header__link {
    text-decoration: none;

    &:hover * {
      color: var(--color-green);
    }
  }

  &__title {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: $spacing-xs;

    strong {
      color: var(--color-green);
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: $spacing-xs;
    position: absolute;
    bottom: 0;
  }

  &__button {
    padding: $spacing-xs!important;
    border-radius: $border-radius-sm!important;
    border: 1px solid var(--color-grey)!important;

    i {
      font-size: $font-size-20!important;
      cursor: pointer!important;
    }

    &:disabled i {
      cursor: initial!important;
    }

    &--small {
      padding: calc($spacing-xs / 4)!important;

      i {
        font-size: $font-size-18 !important;
      }
    }
  }

  &__link {
    white-space: nowrap;
    font-size: $font-size-14;
    color: var(--color-midnight-lighter);
  }
}

