.element-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-xs);
  width: 100%;
  min-height: 5rem;
  border: 1px solid var(--color-grey);
  border-radius: $border-radius-md;
  padding: $spacing-xs $spacing-sm;
  overflow-y: auto;

  &--inline {
    display: inline-flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
  }

  &--small {
    height: 5rem;
  }

  &--medium {
    height: 10rem;
  }

  &--big {
    height: 20rem;
  }

  &::-webkit-scrollbar {
    width: .357rem;
  }

  &::-webkit-scrollbar-thumb {
    border: 0 solid transparent;
    border-top-left-radius: calc($border-radius-md / 4);
    border-bottom-left-radius: calc($border-radius-md / 4);
    -webkit-box-shadow: inset 0 0 0 3px var(--color-midnight);
    -moz-box-shadow: inset 0 0 0 3px var(--color-midnight);
    box-shadow: inset 0 0 0 3px var(--color-midnight);
  }

  &::-webkit-scrollbar-track {
    margin-top: $border-radius-md;
    margin-bottom: $border-radius-md;
  }

  & &__placeholder {
    height: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    align-self: center;
    color: var(--color-grey-dark);
  }
}
