.flex-content {
  display: flex;
  align-content: flex-start;

  &--direction {
    &-row {
      flex-direction: row;
    }

    &-column {
      flex-direction: column;
    }
  }

  &--align {
    &-start {
      align-items: flex-start;
    }

    &-end {
      align-items: flex-end;
    }

    &-center {
      align-items: center;
    }

    &-initial {
      align-items: initial;
    }
  }

  &--justify {
    &-start {
      justify-content: flex-start;
    }

    &-end {
      justify-content: flex-end;
    }

    &-center {
      justify-content: center;
    }

    &-space-around {
      justify-content: space-around;
    }

    &-space-between {
      justify-content: space-between;
    }

    &-space-evenly {
      justify-content: space-evenly;
    }
  }

  &--spacing {
    &-xsmall {
      gap: $spacing-xs;
    }

    &-small {
      gap: $spacing-sm;
    }

    &-medium {
      gap: $spacing-md;
    }

    &-large {
      gap: $spacing-lg;
    }

    &-large-plus {
      gap: calc($spacing-md * 2);
    }

    &-xlarge {
      gap: $spacing-xl;
    }
  }

  &--wrap {
    flex-wrap: wrap;
  }

  &--mobile-direction {
    @media #{$screen-s}, #{$screen-m}, #{$screen-l} {
      &-row {
        flex-direction: row !important;
      }

      &-column {
        flex-direction: column !important;
      }

      &-column-reverse {
        flex-direction: column-reverse !important;
      }
    }
  }

  &--layout {
    &-columns {
      > * {
        &:first-child:nth-last-child(2),
        &:first-child:nth-last-child(2) ~ * {
          flex: 0 2 50%;
        }

        &:first-child:nth-last-child(3),
        &:first-child:nth-last-child(3) ~ * {
          flex: 0 2 33%;
        }

        &:first-child:nth-last-child(4),
        &:first-child:nth-last-child(4) ~ * {
          flex: 0 2 25%;
        }

        &:first-child:nth-last-child(5),
        &:first-child:nth-last-child(5) ~ * {
          flex: 0 2 20%;
        }
      }
    }

    &-two-columns-wide-left {
      > * {
        &:first-child:nth-last-child(2) {
          flex: 0 2 65%;
        }

        &:first-child:nth-last-child(2) ~ * {
          flex: 0 2 35%;
        }
      }
    }

    &-two-columns-wide-right {
      > * {
        &:first-child:nth-last-child(2) {
          flex: 0 2 35%;
        }

        &:first-child:nth-last-child(2) ~ * {
          flex: 0 2 65%;
        }
      }
    }
  }
}


