.footer {
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  padding: $spacing-lg;
  align-items: center;
  text-align: center;

  &__link {
    padding: 0 $spacing-sm;
    margin: $spacing-sm 0;
    line-height: 2rem;
    font-size: $font-size-14;
    font-weight: $font-weight-semi-bold;
    cursor: pointer;
    color: var(--color-midnight-light);
    text-decoration: none;

    &:not(:last-child) {
      border-right: 1px solid var(--color-midnight-light);
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
