.btn-go-to-top {
    position: fixed;
    bottom: $spacing-sm;
    right: $spacing-sm;
    z-index: 10;
    padding: $spacing-xs;
    border-radius: $border-radius-xl;
    cursor: pointer;
    background-color: var(--color-midnight);
    border: 1px solid var(--color-grey-light);
    color: var(--color-grey-light);
    opacity: 0.6;

    &:hover {
        background-color: var(--color-grey-light);
        border-color: var(--color-midnight);
        color: var(--color-midnight);
    }

    i {
        vertical-align: text-top;
        font-size: $font-size-36;
    }
}
