.hero-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: calc($spacing-xl * 4);
    background: linear-gradient(175deg, var(--color-grey-light), var(--color-grey-light) 55%, var(--color-white) 55%, var(--color-white));
    margin-bottom: $spacing-sm;

    &__content {
        display: block;
        margin: 0 auto;
        width: 50%;
        font-size: $font-size-48;
        font-weight: $font-weight-bold;
        text-align: center;
        color: var(--color-midnight-light);

        & > span {
            color: var(--color-green);
        }

        & > u {
            text-decoration: var(--color-green) solid underline;
            text-underline-offset: 1rem;
        }

        @media #{$screen-s} {
            width: 100%;
        }

        @media #{$screen-m} {
            width: 75%;
        }
        
        @media #{$screen-s}, #{$screen-m} {
            font-size: $font-size-36;
            & > u {
                text-decoration: var(--color-green) solid underline;
                text-underline-offset: .5rem;
            }
        }
    }

    @media #{$screen-s} {
        height: auto;
        padding: $spacing-lg $spacing-sm;
    }
}