.main-header-account {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $spacing-xs;
  padding: $spacing-xs $spacing-sm;
  border-radius: var(--border-radius-md);
  background-color: var(--color-midnight);
  border: 1px solid var(--color-grey);
  color: var(--color-grey);

  &--white {
    background-color: var(--color-grey-light) !important;
    color: var(--color-midnight) !important;

    .main-header-account__avatar__content {
      background-color: var(--color-midnight) !important;
      color: var(--color-grey) !important;
    }
  }

  &__avatar {
    display: flex;
    align-items: center;

    &__content {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      background-color: var(--color-grey);
      color: var(--color-midnight);
      font-size: $font-size-20;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
      cursor: pointer;

      i {
        font-size: $font-size-26;
        color: inherit;
      }
    }
  }
}
