.main-content {
  position: relative;
  margin: 0 auto;
  padding: $main-content-padding;
  min-height: 85vh;
  max-width: 125rem;

  @media #{$screen-s}, #{$screen-m} {
    max-width: 100% !important;
    padding: $main-content-mobile-padding !important;
  }

  &--narrow-width {
    max-width: 80rem;
  }

  &--full-width {
    max-width: unset;
    padding: 0 0 $main-content-padding !important;

    @media #{$screen-s}, #{$screen-m} {
      padding: 0 0 $main-content-mobile-padding !important;
    }
  }

  .main-content-header, // deprecated
  & &__header {
    margin-bottom: 3.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: var(--color-midnight-light);
    line-height: 1.5;

    @media #{$screen-s}, #{$screen-m} {
      margin-bottom: $spacing-lg;
    }

    &-loader {
      margin-bottom: $spacing-xs;
      margin-left: $spacing-sm;

      span {
        width: $spacing-sm;
        height: $spacing-sm;
        border-width: 0.1rem;
      }
    }

    &-item, // deprecated
    &__item {
      display: flex;
      align-items: center;
      margin-bottom: $spacing-xs;

      &-link {
        font-size: $font-size-26;
        font-weight: $font-weight-bold;
        letter-spacing: 0.4pt;
        color: var(--color-green);
        cursor: pointer;
        margin-right: $spacing-xs;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &-icon, // deprecated
    &__icon {
      display: flex;
      align-items: center;
      margin-right: $spacing-sm;
      height: 2.5rem;

      i {
        font-size: $font-size-36;
        color: var(--color-midnight-light);
      }

      svg {
        height: 2.5rem;
        fill: currentColor;
      }
    }

    &-arrow {
      margin-right: $spacing-xs;
    }
  }
}
