.section-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: calc($spacing-md * 2);
}

.section-1col,
.section-2cols,
.section-3cols {
  &:not(:last-child) {
    margin-bottom: calc($spacing-md * 2);
  }
}

.section-1col {
  &.section-col1-justify-center {
    display: flex;
    justify-content: center;
  }
}

.section-2cols {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.section-2cols-align-top {
    align-items: flex-start;
  }

  &.section-2cols-wide-left {
    .section-col {
      &:first-child {
        width: 60%;
      }

      &:last-child {
        width: 36%;
      }
    }
  }

  &.section-2cols-narrow {
    margin: 0 auto;
    max-width: 80rem;
  }

  .section-col {
    width: 48%;
  }

  svg {
    max-height: 25rem;
    width: 100%;
  }

  @media #{$screen-s}, #{$screen-m}, #{$screen-l} {
    flex-direction: column !important;
    gap: $spacing-lg;

    &.section-2cols-reverse {
      flex-direction: column-reverse !important;
    }

    .section-col {
      width: 100% !important;
    }
  }
}

.section-3cols {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  & > * {
    padding: $spacing-sm;
    flex: 0 0 32%;
  }

  @media #{$screen-s}, #{$screen-m} {
    flex-direction: column !important;
    align-items: flex-start;
  }
}

.section-block {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 2.3rem;

    &__title {
      display: flex;
      align-items: center;
      text-decoration: none;
      gap: $spacing-xs;
    }

    a {
      text-decoration: none;

      &:hover * {
        color: var(--color-green);
      }
    }
  }

  &__box {
    background: var(--color-white) 0 0 no-repeat padding-box;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: $font-size-14;
    color: var(--color-midnight-lighter);
  }
}

.section-separator {
  margin-top: calc($spacing-md * 2);
  margin-bottom: calc($spacing-md * 2);
}
