.tag {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid var(--color-grey-dark);
  border-radius: $border-radius-xl;
  color: var(--color-grey-light);
  background: var(--color-grey-dark);
  gap: $spacing-xs;
  white-space: nowrap;
  width: auto !important;

  &.tag--reverse {
    flex-direction: row-reverse;
  }

  &.tag--clickable {
    cursor: pointer;
  }

  &.tag--capitalize span {
    text-transform: capitalize;
  }

  &.tag--uppercase span {
    text-transform: uppercase;
  }

  &.tag--xsmall {
    padding: 0.1125rem 0.75rem;

    span {
      font-size: $font-size-12;
    }

    > i {
      font-size: $font-size-16;
    }
  }

  &.tag--small {
    padding: .2rem .75rem;

    span {
      font-size: $font-size-12;
    }

    > i {
      font-size: $font-size-16;
    }
  }

  &.tag--medium {
    padding: 0.215rem 1.075rem;

    span {
      font-size: $font-size-14;
    }

    > i {
      font-size: $font-size-18;
    }
  }

  &.tag--big {
    padding: .425rem 1.425rem;

    span {
      font-size: $font-size-18;
    }

    > i {
      font-size: $font-size-18;
    }
  }

  &.tag--primary-midnight-light {
    background-color: var(--color-midnight-light);
    border: 1px solid var(--color-midnight-light);
    color: var(--color-white);

    &.tag--highlighted,
    &.tag--clickable:hover {
      background-color: var(--color-white);
      color: var(--color-midnight-light);
    }
  }

  &.tag--default-midnight-light {
    background-color: var(--color-white);
    border: 1px solid var(--color-midnight-light);
    color: var(--color-midnight-light);

    &.tag--highlighted,
    &.tag--clickable:hover {
      color: var(--color-white);
      background-color: var(--color-midnight-light);
    }
  }

  &.tag--primary-cyan-light {
    background-color: var(--color-cyan);
    color: var(--color-cyan-lighter);
    border: 1px solid var(--color-cyan);

    &.tag--highlighted,
    &.tag--clickable:hover {
      color: var(--color-cyan);
      background-color: var(--color-cyan-lighter);
    }
  }

  &.tag--default-cyan-light {
    background-color: var(--color-cyan-lighter);
    color: var(--color-cyan);
    border: 1px solid var(--color-cyan);

    &.tag--highlighted,
    &.tag--clickable:hover {
      color: var(--color-cyan-lighter);
      background-color: var(--color-cyan);
    }
  }

  &.tag--primary-ocean {
    background-color: var(--color-ocean);
    border-color: var(--color-ocean);
    color: var(--color-ocean-lighter);

    &.tag--highlighted,
    &.tag--clickable:hover {
      color: var(--color-ocean);
      background-color: var(--color-ocean-lighter);
    }
  }

  &.tag--default-ocean {
    background-color: var(--color-ocean-lighter);
    color: var(--color-ocean);
    border-color: var(--color-ocean-light);

    &.tag--highlighted,
    &.tag--clickable:hover {
      color: var(--color-ocean-lighter);
      background-color: var(--color-ocean);
    }
  }

  &.tag--primary-red {
    background-color: var(--color-red);
    border-color: var(--color-red);
    color: var(--color-ocean-lighter);

    &.tag--highlighted,
    &.tag--clickable:hover {
      color: var(--color-red);
      background-color: var(--color-ocean-lighter);
    }
  }

  &.tag--primary-grey-dark {
    color: var(--color-grey-light);
    background-color: var(--color-grey-dark);
    border-color: var(--color-grey-dark);

    &.tag--highlighted,
    &.tag--clickable:hover {
      color: var(--color-grey-dark);
      background-color: var(--color-grey-light);
    }
  }

  &.tag--primary-grey-light {
    background-color: var(--color-grey-light);
    color: var(--color-midnight-light);
    border-color: var(--color-grey);

    &.tag--highlighted,
    &.tag--clickable:hover {
      color: var(--color-grey-light);
      background-color: var(--color-midnight-light);
    }
  }

  &.tag--disabled {
    background-color: var(--color-grey) !important;
    border-color: var(--color-grey) !important;
    color: var(--color-grey-dark) !important;
    cursor: default;

    &.tag--default-midnight-light,
    &.tag--default-cyan-light,
    &.tag--default-ocean {
      background-color: var(--color-grey-light) !important;
      border-color: var(--color-grey-dark) !important;
      color: var(--color-grey-dark) !important;
    }
  }

  & span {
    font-weight: $font-weight-semi-bold;
  }

  & &__icon {
    &--clickable:hover {
      color: var(--color-green);
    }
  }
}
