.tooltip {
  position: relative;
  display: inline-flex;
  vertical-align: bottom;

  i {
    cursor: help;
    font-size: $font-size-22;
  }

  &--clickable {
    cursor: pointer;

    i {
      cursor: pointer;

      &:hover {
        color: var(--color-green);
      }
    }
  }

  & &__icon {
    display: inline-flex;
  }

  & &__text {
    position: fixed;
    z-index: 30;
    max-width: 20rem;
    padding: 0.25rem 0.75rem !important;
    background-color: var(--color-black-light);
    border: 1px solid var(--color-black-lighter);
    border-radius: $border-radius-xs;
    line-height: 1.5;
    font-size: $font-size-12;
    font-weight: $font-weight-semi-bold;
    text-transform: initial !important;
    color: var(--color-grey-light);
    overflow: hidden;
    opacity: 0;
    width: 0;
    height: 0;
  }

  @media (pointer: fine) {
    .tooltip__content:hover + .tooltip__text {
      opacity: 1;
      width: max-content;
      height: auto;
      transition: opacity 0.5s;
    }
  }
}
