.clickable:hover {
    cursor: pointer;
}

.code {
    font-family: $font-family-code;
    font-size: $font-size-12;
    background: var(--color-grey-light);
    color: var(--color-ocean);
    word-break: break-all;
    border-radius: $border-radius-xs;
    border: 1px solid var(--color-grey);
    padding: calc($spacing-xs / 5) $spacing-xs;
}
